.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.list-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color:gray;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.button-text {
    text-align: center;
}
.input-area {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.button-row {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.item-row {
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    margin-left: 5%;
    margin-right: 15%;
}
.item-title-padding {
    padding-right: 5vw;
}
 .empty-list {
     padding-top: 40%;
     padding-bottom: 40%;
     justify-content: center;
     align-items: center;
 }