.container {
    display: flex;
    height: 100vh;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.list-container {
    height: 40vh;
    width: 30vw;
    background-color:gray;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.button-text {
    text-align: center;
}
.input-area {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}